<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
      <%= news %> 
    </title>
</head>

<!-- naavbar -->
<%- include('partials/head') %>

  <div class="container mx-auto p-10 bg-stone-500 min-h-screen bg-slate-700">
    <h1 class="font-mono text-center text-white underline text-3xl">
        <%= news %>
   </h1>

   <div class="container mx-auto">

      <p class="font-sans mt-10 text-lg font-slate-500 text-white">
        <%= desc %> 
      </p>
      <br>
      <img src="<%= image_url %> " alt="<%= news %> " class="w-96 h-64 rounded-xl shadow-lg hover:shadow-2xl hover:shadow-slate-900 hover:scale-105 transition duration-300 mx-auto">
      <br> 

      <button class="bg-white rounded-xl p-3 hover:scale-110 transition duration:300 shadow-2xl">
              <a href="<%= link %> " target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
                </svg>
                
                  Read the full article
              </a>
      </button>
      
   </div>


  </div>


<!-- footer -->
<%- include('partials/footer') %>  
